<!DOCTYPE html>
<html>
  <head>
    <title>Trucks</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/trucks">View All Trucks</a>
      <a href="/warehouses">View All Warehouses</a>
      <a href="/demands">View All Demands</a>
    </header>

    <h1>Trucks</h1>
    <table>
      <tr>
        <th>Truck ID</th>
        <th>Capacity</th>
        <th>AC</th>
        <th>Current Warehouse ID</th>
      </tr>
      {% for index, row in trucks.iterrows() %}
      <tr>
        <td>{{ row['TruckID'] }}</td>
        <td>{{ row['Capacity'] }}</td>
        <td>{{ row['AC'] }}</td>
        <td>{{ row['CurrentWarehouseID'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
